.edit_customer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.customer_edit_page{
    margin-top: 1vw;
    padding:1vw;
    background-color: white;
}
.form_edit_field_customer span { 
    color:black;
    display: hidden;
}
.customer_edit_form .form_edit_field_customer input:invalid[focused=true]{
    border:1px solid #E63946;
}
.customer_edit_form .form_edit_field_customer input{
    width:50%;
    border-radius: 0.4vw;
    border:1px solid black;
    height: 2.6vw;
    padding:0.2vw;
}
.customer_edit_form .form_edit_field_customer input:invalid[focused=true] ~ span{
    display: block;
    width: 50%;
}
.customer_edit_form h1{
    text-align: center;
    font-size: 2.9vw;
    font-weight: 350;
    margin:3vw 0vw;
}
.customer_edit_form .heading_edit_clog{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap:1vw;
}
.form_edit_field_customer{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap:0.3vw;
    margin:1vw;
}
.form_field_customer label{
    font-size:1.5vw;
}
.form_edit_field_customer button{
    width: 25%;
    background-color: #1D3557;
    color: #F1FAEE;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    font-size: 1.8vw;
    padding:0.2vw;
    margin:1vw;
    border-radius: 2vw;
    border:none;
}
.form_edit_field_customer button:hover{
    background-color:rgb(39, 66, 104);
    color: rgb(234, 255, 226);
}

.customer_edit_form{
    box-shadow: 0 0 0 1.5px rgb(171, 180, 178);
    margin: 0 16vw;
    padding:1vw;
    background-color:rgb(253, 254, 255);
    border-radius: 2vw;
}
.customer_edit_page .customer_edit_registration pre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 1.15vw;
    color:rgb(30, 3, 43);
    gap:0.4vw;
}
.invalid{
   margin: 10px;
   display: flex;
   flex-direction:row;
   justify-content: center;
   z-index: 999;
}
.invalid .invalid_status{
    font-size: 20px;
    color:#f1eff3;
    background-color:  #E63946;
    padding:5px;
    border-radius: 15px;
}