 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.card_detail_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height:800px;
}
.card_detail_image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vw auto;
}
.card_detail_image img{
    width:70vw;
    border-radius: 2vw;
    border:2px solid rgb(151, 149, 146);
    display: block;
}
.card_detail_main{
    background: rgb(255, 255, 255);
}
.card_detail_image_overlay{
    position: absolute;
    top:8.05vw;
    bottom: 0;
    overflow: hidden;
    background-color: #d7dfdf;
    width: 70vw;
    height:638.78px;
    opacity: 0;
    transition: .5s ease;
    border-radius: 2vw;
}
.card_detail_image:hover .card_detail_image_overlay{
    opacity: 1;
    width: 70vw;
    height: 638.78px;
    border-radius: 2vw;
    overflow: hidden;
}
.card_detail_image_overlay h1{
    white-space: nowrap;
    color: rgb(34, 23, 23);
    font-size: 3.5vw;
    font-weight:lighter;
    font-family:'   Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.card_detail_main h2{
    white-space: nowrap;
    color: rgb(32, 3, 3);
    font-size: 3.5vw;
    margin:2vw auto;
    width: max-content;
    background: #b4f8f6;
    padding: 15px 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
    position: absolute;
    border-radius: 1vw;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.card_detail_image_overlay h3{
    white-space: nowrap;
    color: rgb(34, 23, 23);
    font-size: 3.5vw;
    font-weight:lighter;
    font-family:'   Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.card_detail_image_overlay h4{
    white-space: nowrap;
    color: rgb(34, 23, 23);
    font-size: 3.5vw;
    font-weight:lighter;
    font-family:'   Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
@media screen and (max-width:768px){
    .card_detail_main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100vh;
    }
    .card_detail_image_overlay{
        position: absolute;
        top:35.7vw;
        bottom: 0;
        overflow: hidden;
        background-color: #cbe6e5;
        width: 70vw;
        height:232.67px;
        opacity: 0;
        transition: .5s ease;
    }
    .card_detail_image:hover .card_detail_image_overlay{
        opacity: 1;
        top:35.7vw;
        width: 70vw;
        height: 232.67px;
        border-radius: 2vw;
        overflow: hidden;
    }
    .card_detail_image_overlay h1{
        white-space: nowrap;
        color: rgb(34, 23, 23);
        font-size: 3.5vw;
        font-weight:lighter;
        font-family:'   Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .card_detail_main h2{
        white-space: nowrap;
        color: rgb(34, 23, 23);
        font-size: 3.5vw;
        font-weight:lighter;
        font-family:'   Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background: #b4f8f6;
        position: absolute;
        border-radius: 2vw;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .card_detail_image_overlay h3{
        white-space: nowrap;
        color: rgb(34, 23, 23);
        font-size: 3.5vw;
        font-weight:lighter;
        font-family:'   Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .card_detail_image_overlay h4{
        white-space: nowrap;
        color: rgb(34, 23, 23);
        font-size: 3.5vw;
        font-weight:lighter;
        font-family:'   Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}